<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKSRYMjSDMTWVGjTP1IObgqpFdJlAvNNY</string>
	<key>GCM_SENDER_ID</key>
	<string>273100889623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devkitu.iquotes.iquotesNewVersion</string>
	<key>PROJECT_ID</key>
	<string>iquotes-77ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>iquotes-77ebc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273100889623:ios:c282208b044902d4fbc652</string>
</dict>
</plist>